body {
  background: #ffe6ee;
  font-family: 'Arial', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
}

h1 {
  color: #ff4d6d;
}

.buttons {
  margin-top: 25px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  
}


button {
  padding: 12px 24px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

@keyframes pulse {
  0% { box-shadow: 0 0 10px rgba(255, 77, 109, 0.5); }
  50% { box-shadow: 0 0 16px rgba(255, 77, 109, 0.8); }
  100% { box-shadow: 0 0 10px rgba(255, 77, 109, 0.5); }
}

#yes {
  background-color: #ff4d6d;
  color: white;
  box-shadow: 0 0 10px rgba(255, 77, 109, 0.5);
  transition: 
    transform 0.3s ease,
    box-shadow 0.4s ease;
  animation: pulse 2.5s infinite;

}

.buttons:hover #yes {
  box-shadow: 0 0 18px rgba(255, 77, 109, 0.8);
}

#no {
  background-color: #d9d9d9;
  color: black;
  position: relative; /* IMPORTANT */
  transition: transform 0.15s ease;
  position: relative;
  transition: transform 0.1s linear; /* FAST */
  box-shadow: 0 0 8px rgba(255, 77, 109, 0.4);
  transition: transform 0.1s linear, box-shadow 0.3s ease;
}

.buttons:hover #no {
  box-shadow: 0 0 14px rgba(255, 77, 109, 0.7);
}


.photo {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 10%;
  margin: 20px 0;
  border: 4px solid #ff4d6d;
}

.videos {
  margin-top: 25px;
  display: flex;
  /* justify-content: center; */
  gap: 30px;
}

.celebrateVideo {
  width: 220px;
  border-radius: 7px;
  box-shadow: 0 0 20px rgba(255, 77, 109, 0.6);
}

.blink {
  animation: softBlink 1.2s ease-in-out;
}

@keyframes softBlink {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}

@keyframes subtleShake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-4px); }
  50% { transform: translateX(4px); }
  75% { transform: translateX(-2px); }
  100% { transform: translateX(0); }
}

.shake {
  animation: subtleShake 0.7s ease-in-out;
}

